%h2= "Search results for ##{@search_criteria}"

- @posts.each do |post|
  .post-wrapper-condensed
    .row-fluid.post-wrapper-upper
      %h4.post-title
        = link_to post.title, custom_post_path(*post.url_params)
      %p.post-info
        = link_to post.user.name, post.user
        = post.published_at_description
    %p.post-content
      = post.search_description
