= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .control-label
    = f.label :title
    .controls
      = f.text_field :title, :class => "input-xxlarge"

  .control-label
    = f.label :body
    .controls
      = f.text_area :body, :class => "input-xxlarge", rows: 6

  .actions
    = f.submit "Save post", :class => "btn btn-inverse btn-large"
