.wrapper-profile
  %h3
    = @user.name
    %small profile

  = form_for @user, :as => :user, :url => profile_update_path, :method => :put do |f|
    .wrapper-user-photo
      = link_to gravatar_image_tag(current_user.email, :alt => current_user.name, :class => 'img-polaroid', :gravatar => { :size => 150 }), "http://www.gravatar.com", id: 'gravatar_link', target: "blank"

    .control-group
      .control-label
        = f.label :name
        .controls
          = f.text_field :name, :class => "input-xxlarge"
          = render_errors(@user, :name)

    .control-group
      .control-label
        = f.label :email
        .controls
          = f.email_field :email, :class => "input-xxlarge"
          = render_errors(@user, :email)

    .control-group
      .control-label
        = f.label :current_password
        .controls
          = f.password_field :current_password, :class => "input-xlarge"
          = render_errors(@user, :current_password)

    .control-group
      .control-label
        = f.label :password
        .controls
          = f.password_field :password, :class => "input-xlarge"
          = render_errors(@user, :password)

    .actions
      = f.submit "Save changes", :class => "btn btn-inverse btn-large"
